html, body {
    font-family: "B Koodak";
    text-align: right;
}

.header {
    width: 100vw;
    height: 5vh;
    background-color: #EEEEEE;
    padding: 0;
}

.background {
    width: 100vw;
    height: 95vh;
    padding: 0;
}

.B1 {
    width: 20vw;
    height: 95vh;
    background-color: #EEEEEE;
    float: right;
}

.resume {
    width: 60vw;
    height: 95vh;
    float: right;
}

.B2 {
    width: 20vw;
    height: 95vh;
    float: right;
    background-color: #EEEEEE;
}

.menu {
    width: 20vw;
    height: 95vh;
    float: right;
    background-color: #566D7E;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
}

.img {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    height: 28vh;
    background-color: #566D7E;

}

.name {
    height: 10vh;
    background-color: #566D7E;
}

#shadi {
    font-family: "B Titr";
    font-size: larger;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

#pos {
    font-size: medium;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.contacts {
    height: 28vh;
    background-color: #566D7E;
}

.rec1 {
    background-color: #36454F;
    height: 4vh;
    width: 20vw;
}

#con {
    font-size: large;
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

#linkedin {
    margin: 0 10px;
    font-size:25px;

}
#gmail{
    margin: 0 10px;
    font-size: 20px;
}
#github{
        margin: 0 10px;
    font-size: 20px;
}
#orcid{
        margin: 0 10px;
    font-size: 20px;
}
.social-icons a {
    padding: 20px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover {
    opacity: 0.7;
}

.lang {
    height: 24vh;
}

.rec2 {
    background-color: #36454F;
    height: 4vh;
    width: 20vw;
}

#lan {
    font-size: large;
    display: flex;
    justify-content: center;
}

.father {
    width: 40vw;
    height: 95vh;
    float: left;
}

.eduacation {
    height: 19vh;
    background-color: DarkKhaki;
}

hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    color: violet;
}

.experiance {
    height: 19vh;
}

.skills {
    height: 19vh;
    background-color: DarkKhaki;
}

.certifications {
    height: 19vh;
}

.achivements {
    height: 19vh;
    background-color: DarkKhaki;
}

#a {
    rotate: 270deg;
    direction: rtl;
    justify-content: center;
    padding-right: 2vw;
}

.rectangle1 {
    background-color: tomato;
    height: 19vh;
    width: 3vw;
    float: right;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 14%;
}

.rectangle2 {
    background-color: orange;
    height: 19vh;
    width: 3vw;
    float: right;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 14%;
}

.rectangle3 {
    background-color: mediumseagreen;
    height: 19vh;
    width: 3vw;
    float: right;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 14%;
}

.rectangle4 {
    background-color: slateblue;
    height: 19vh;
    width: 3vw;
    float: right;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 14%;
}

.rectangle5 {
    background-color: violet;
    height: 19vh;
    width: 3vw;
    float: right;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 14%;
}

.container img {
    height: 19vh;
    width: 3vw;
    border-radius: 50%;
    margin-left: 140px;
    margin-top: 75px;
    animation: rotate 10s linear infinite;
}

/*@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
